:root{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   scroll-behavior: smooth;
   background: #C9CCD3;
   background-color: white;
   transition: background-color 0.30s;
}

:root.dark{
   transition: background-color 0.30s;
   background-color: black;
}

*{
   --gradient_green: #37ecba;
   --gradient_gray:linear-gradient(to top, #cfd9df 100%, #e2ebf0 100%);
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-size: 16px;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* for changing theme */
.theme{
   font-size: 2rem;
   padding: 10px;
   margin: 20px;
   border: none;
   outline: 2px solid;
   border-radius: 30px;
   letter-spacing: 0.3rem;
   transition: all 0.30s ease 0s;
}

.theme:hover{
   background-color: var(--gradient_green);
   box-shadow: 0px 15px 20px var(--gradient_green);
   transform: translateY(-7px);
}

.theme:active{
   box-shadow: none;
   transform: translateY(7px);
}

/* main container */
.main{
   background-image: var(--gradient_gray);
   border-radius: 20px;
   height: 500px;
   width: 900px;
   display: flex;
   transition: all 0.10s ease 0s;
}

.display,.calc{
   height: 100%;
   width: 50%;
   border-radius: 20px;
}

.display{
   background-color: var(--gradient_green);
   border-radius: 0px 20px 20px 60px;
}

.calc{
   background-image: var(--gradient_gray);
   border-radius: 20px 0px 20px 20px;
   display: flex;
   flex-direction: column;
   padding: 40px 20px;
   align-items: center;
   justify-content: space-between;
}

.one,.two,.three,.four,.five,.six{
   width: 100%;
   height: 100%;
   outline: 1px solid;
   background-color: lightsalmon;
}

/* 1st */
@media only screen and (max-width:900px){
   .main{
      height: 500px;
      width: 700px;
   }
}

/* 2nd */
@media only screen and (max-width:700px) {
   .main{
      height: 700px;
      width: 500px;
      flex-direction: column;
      background-image: var(--gradient_gray);
   }

   .display,.calc{
      width: 100%;
   }

   .display{
      height: 35%;
      border-radius: 60px 20px 20px 20px;
   }

   .calc{
      height: 65%;
      border-radius: 20px 20px 0px 0px;
   }
}

/* 3rd */
@media only screen and (max-width:500px){
   .main{
      width: 100%;
      height: 100%;
   }

   .display{
      border-radius: 0px;
   }

   .calc{
      border-radius: 0px;
   }
}