:root{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   scroll-behavior: smooth;
   transition: background-color 0.30s;
}

:root.dark{
   transition: background-color 0.30s;
   background-color: black;
}

*{
   --gradient-blue:linear-gradient(to top, #30cfd0 0%, #330867 100%);
   --gradient-green:linear-gradient(to top, #37ecba 0%, #72afd3 100%);
   --gradient-gray:linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
   --gradient-skypink:linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
   --gradient-pinksky:linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
   --gradient-snow:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-size: 16px;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* main container */
.main{
   border-radius: 20px;
   height: 500px;
   width: 900px;
   display: flex;
   transition: all 0.10s ease 0s;
   background-image: var(--gradient-snow);
}

.display,.calc{
   height: 100%;
   width: 50%;
   border-radius: 20px;
}

.display{
   background-image: var(--gradient-green);
   border-radius: 0px 20px 20px 60px;
}

.calc{
   background-image: var(--gradient-snow);
   border-radius: 20px 0px 20px 20px;
   padding: 30px;
}

/* 1st */
@media only screen and (max-width:900px){
   .main{
      height: 500px;
      width: 700px;
   }
}

/* 2nd */
@media only screen and (max-width:700px) {
   .main{
      height: 700px;
      width: 500px;
      flex-direction: column;
   }

   .display,.calc{
      width: 100%;
   }

   .display{
      height: 35%;
      border-radius: 60px 20px 20px 20px;
   }

   .calc{
      height: 65%;
      border-radius: 20px 20px 0px 0px;
   }
}

/* 3rd */
@media only screen and (max-width:500px){
   .main{
      width: 100%;
      height: 100%;
   }

   .display{
      border-radius: 0px;
   }

   .calc{
      border-radius: 0px;
   }
}